<template>
    <div>
        <div v-for="(row, index) in rows" :key="index">
            <div class="row" id="rowinput">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label"
                        >Nombre</label>
                        <input type="text" class="form-control" id="nom"
                               name="nombre[]" v-model="row.nombre"
                               required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Apellido</label>
                        <input type="text" class="form-control"
                               name="apellido[]" id="ape"
                               v-model="row.apellido"
                               required>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <!--<input class="btn btn-primary" @click="addRow"-->
            <!--value="Agregar compañeros">-->

            <div class="col-md-6">
                <div class="row" style=" margin-left: 1px;">
                    <div class="form-group">
                        <label for="numero_de_personas"></label>
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" id="cantidad"
                                   name="cantidad"
                                   v-model="cantidad"
                                   @click="activarNumPer()">
                            <label>Añadir acompañante</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div class="form-group">
                        <label for="numero_de_personas">Indicar número</label>
                        <div class="input-group">
                            <input id="numero_de_personas"
                                   class="form-control"
                                   v-model="numero_de_personas" disabled/>
                            <span>&nbsp;</span>
                            <span class="input-group-btn">
                            <button class="btn btn-outline btn-danger" @click="removeElement()" type="button"
                                    id="removeElement" disabled><i class="wb wb-trash"></i></button>
                            <button class="btn btn-outline btn-success" @click="add()" type="button" id="add"
                                    disabled><i class="wb wb-plus"></i></button>

                        </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                rows: [],
                indice: 0,
                cantidad: false,
                numero_de_personas: null,

            }
        },
        methods: {
            addRow: function () {
                this.rows.push({
                    nombre: "",
                    apellido: ""
                });
            },
            removeElement: function () {
                this.rows = [];
                this.numero_de_personas = "";
                this.indice = 0;

            },
            activarNumPer: function () {
                console.log($('#cantidad').is(':checked'));
                if ($('#cantidad').is(':checked')) {
                    $('#numero_de_personas').prop('disabled', false);
                    $('#removeElement').prop('disabled', false);
                    $('#add').prop('disabled', false);


                } else {
                    $('#numero_de_personas').prop('disabled', true);
                    $('#removeElement').prop('disabled', true);
                    $('#add').prop('disabled', true);

                }
            },
            add: function () {
                if (this.cantidad === true) {
                    for (
                        this.indice;
                        this.indice < this.numero_de_personas;
                        this.indice++
                    ) {
                        this.addRow();
                    }
                } else {
                    this.numero_de_personas = null;
                }
            }
        }

    }
</script>