<template>
    <div class="btn-group">
        <button v-if="rol == true" id="btnEditBen" @click="cargarModal(description,title,idben,users)" class="btn btn-xs btn-warning pull-right"><i class="wb wb-pencil"></i></button>
        <button v-if="rol == true" id="btnCloseBen" @click="eliminarBenef(idBen)" class="btn btn-xs btn-danger pull-right"><i
        class="wb wb-trash"></i></button>
        <button id="btnShowBen" @click="mostrarDescripcion(description)"class="btn btn-xs btn-info pull-right"><i
                class="wb wb-eye"></i></button>

    </div>
</template>

<script>
    export default {
        props: [
            'description','title','idben', 'rol','users',
        ],
        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            mostrarDescripcion: function (value) {
                $('#descripcionb').html("");
                $('#descripcionb').append(value);
            },
            cargarModal: function (description, title, id,users) {
                var obj = JSON.parse(users);
                var usersarray = new Array();
                $.each(obj, function( index, value ) {
                    usersarray.push(value.id);
                });
                $('#modaleditben').modal('show');
                $('#modaleditben #modaleditbenform .titulo').val("");
                $('#modaleditben #modaleditbenform .summernote').val("");
                $('#modaleditben #modaleditbenform #beneficio_id').val("");
                $('#modaleditben #modaleditbenform .titulo').val(title);
                $('#modaleditben #modaleditbenform .summernote').val(description);
                $('#modaleditben #modaleditbenform #beneficio_id').val(id);
                $("#modaleditben #modaleditbenform #users").val(usersarray)
                $("#modaleditben #modaleditbenform #users").trigger('change');
            },
            eliminarBenef(id){
                $.ajax({
                    url: '/beneficios/' + id,
                    type: 'DELETE',
                    success: function (response) {
                    },
                    error: function (error) {
                        console.log(error);
                    },
                }).done(function (resp) {
                    toastr.options.timeOut = 5000;
                    toastr.options.closeButton = true;
                    toastr.success("Se ha eliminado correctamente el beneficio");
                    setTimeout(function () {
                        window.location.reload();
                        ;
                    }, 1000);

                });
            }
        }
    }
</script>
