<template>

                <div class="input-group">
                    <span class="input-group-addon"><i style="margin-left: -7px;" class="fa fa-list "></i></span>
                    <select  id="user" name="user" class="form-control bootstrap-select" v-model="selectedUser.id">
                        <option value="-1" selected="">-- Seleccionar usuario--</option>
                        <option v-for="user in users" v-bind:value="user.id">
                            {{ user.name }}
                        </option>
                    </select>

                </div>
</template>

<script>
    export default {

        data() {
            return {
                users: [],
                selectedUser:{
                    id:-1
                },
            }
        },
        methods: {
            getPersons: function () {
                axios.get('/usersj')
                    .then(res => {
                        this.users = res.data;

                    });
            },
//            createPersona: function(){
//                window.location.href = window.location.origin+'/persons/create';
//            }

        },
        mounted() {
            this.getPersons();
        }

    }


</script>
